{% extends './layout.html' %}

{% block title %}{% endblock %}

{% block body %}

<h1>Hola</h1>

<form action='/busqueda' method="get">

    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre">

    <label for="linea">linea:</label>
    <input type="text" name="linea">
    <!-- Otros campos del formulario -->

    <button type="submit">Enviar</button>
    <input type="text" name="linea">
    
</form>

{% for d in data %}
{{ d }}
{% endfor %}

{% endblock %}
