{% extends './layout.html' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block body %}
<h1>Hola</h1>

<form action='/producto' method="post">

    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre">

    <label for="correo">Correo:</label>
    <input type="text" name="correo">

    <label for="categoria">Categoria:</label>
    <input type="text" name="categoria">
    <!-- Otros campos del formulario -->

    <button type="submit">Enviar</button>
</form>

{% endblock %}
