{% extends './layout.html' %} {% block title %} Titulo {% endblock %} {% block
body %}

<div class="container-fluid">
  <div class="mb-3">
    <form action="/producto" method="post">

      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Producto" name="nombre">
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Linea" name="linea">
      <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Cantidad" name="cantidad_vendida">
      <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Precio" name="precio">

      <p class="d-inline-flex gap-1">
        <button type="submit" class="btn btn-primary" data-bs-toggle="button">REGISTAR PRODUCTO</button>
      </p>

    </form>
  </div>
</div>

{% endblock %}