{% extends './layout.html' %} {% block title %} Titulo {% endblock %} {% block
body %}

<form action="/producto" method="post">
  <label for="nombre">Nombre:</label>
  <input type="text" name="nombre" />

  <label for="cantidad">Cantidad:</label>
  <input type="number" name="cantidad" />

  <label for="linea">Linea:</label>
  <input type="text" name="linea" />

  <label for="precio">Precio:</label>
  <input type="text" name="precio" />

  <button type="submit">REGISTAR PRODUCTO</button>
</form>

{% endblock %}


