{% extends './layout.html' %}

{% block title %} Titulo {% endblock %}

{% block body %}

<form action='/vender' method="post">

    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre">

    <label for="cantidad_vendida">cantidad:</label>
    <input type="number" name="cantidad_vendida">

    <label for="linea">linea:</label>
    <input type="text" name="linea">
    <!-- Otros campos del formulario -->

    <button type="submit">Enviar</button>
</form>

{% endblock %}